body {
  background-color: #73648a;
}
.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding: 20px;
  list-style: none;
}
.jaquette {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.card {
  max-width: 250px;
  border-radius: 10px;
  /* box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.46);
  border: 1px solid black; */
  background-color: #453750;
  padding: 10px;
  list-style: none;
}
.portrait {
  border-radius: 67% 33% 33% 67% / 42% 50% 50% 58%;
}
.container .cards .card h2 {
  color: #a393bf;
}
.container .cards .card p {
  color: white;
}
a:-webkit-any-link {
  text-decoration: none;
}
input {
  border-radius: 30px;
}
.formCompo {
  width: 100%;
}
form {
  margin-left: auto;
  margin-right: auto;
}
.bar {
  width: 300px;
  height: 30px;
  border: none;
  margin: 10px;
}
.searchBtn {
  width: 75px;
  height: 30px;
  border: none;
  margin: 10px;
}
nav ul {
  width: 600px;
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
nav ul li {
  width: 200px;
  color: white;
  font-size: 30px;
}
a:-webkit-any-link {
  color: white;
}
.fav {
  font-size: 30px;
  cursor: pointer;
}
